<!DOCTYPE html>
<html>
    <head>
        <title>Log in</title>
        <link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico"/>
    </head>
    <body>

        <script src="https://cdn.auth0.com/js/lock/10.9.1/lock.min.js"></script>
        <script>
        var lock = new Auth0Lock('{{ AUTH0_CLIENT_ID }}', '{{ AUTH0_DOMAIN }}', {
            auth: {
                redirectUrl: '{{ DOMAIN }}/callback',
                responseType: 'code',
                params: {scope: 'openid email'}
            },
            theme: {
                logo: '{{ AUTH0_LOGO }}',
                primaryColor: '{{ AUTH0_COLOUR_SCHEME }}'
            },
            languageDictionary: {
                title: "Log in"
            },
            closable: false
        });
        lock.show();
        </script>
        
    </body>
</html>
